.box-model {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
}
.item {
  height: 200px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid rgb(16, 172, 104);
}
.item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.container {
  display: flex;
  justify-content: center;
}
body {
  background: linear-gradient(
    180deg,
    rgb(210, 141, 15) 50%,
    rgb(106, 11, 35) 50%
  );
  min-height: 100vh;
}
